.calendar {
  position: relative;
  width: 700px;
  margin: 20px auto;
      border-collapse: collapse;
    border-spacing: 0;
}
.monthbox{
  position: relative;
  text-align: center;
  height: 42px;
  line-height: 42px;
  background: #fff;
  color: #666666;
}

.monthbox a {
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 14px;
  padding: 0 5px;
  color: #333;
}

.monthbox a:hover {
  color: #FFA70D;
}

.monthbox .zdxPrev {
  left: 0;
}

.monthbox .zdxNext {
  right: 0;
}


.monthweek th {
  height: 40px;
  line-height: 40px;
  color: #bfbfbf;
  background: #F3F3F3;
  text-align: center;
  font-weight: 400;
}

.calendar td {
  height: 60px;
  border-bottom: 1px solid #F2F2F2;
  vertical-align: top;
  position: relative;
  color: #bfbfbf;
}
.calendar .daybox {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
   border: 2px solid transparent;
}

.calendar td.current {
  color: #333;
}

.calendar td.selected .daybox{
   border: 2px solid red;
}

.calendar td .daynum {
  font-family: Arial;
  font-style: normal;
  position: relative;
  top: 5px;
}
